body{
  background-color: #000000;
}
.container{
  margin: 0 auto;
}
.text-color{
  color: #eee; 
}
.scrapeShow{
  border:none;
  background-color: #000;
  color:#eee;
}
#article{
  background-color: #000;
  color: #fff
}
#startnews{
  float:left;
}
#article p{
  color:'#fff';
}
#notes, #notes1 {
  float:right;
}
textarea, input{
  display:block;
  width:100%;
  background-color: #FCF5C7;
}
input{
  height:100%;
  font-size: 24px;
}
textarea{
  height:100%;
  font-size: 18px;
}
#notes.panel, #delNotes.panel{
  position: relative;
  text-align: center; 
}
#titleinput1, #bodyinput1{
   background-color: #eee;
}
#articles {
	float:left;
}
#articleContainer{
  visibility:hidden;
  position:absolute;
  margin:10px;
}
#notes {
	float: left;  
	margin:10px;
 /*clear:both; */
}
#delNotes {
  /*    clear:both;*/
}
#articleLink{
  text-align: center;
  color:#eee;
}
.flat-butt {
  display: inline-block;
  margin: 0 5px 0 0;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  text-decoration: none;
  padding: 12px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  padding: 11px 20px;
  box-shadow: #BDC3C7 2px 2px 0px;
}
.flat-butt:hover {
  background: #005580;
  text-decoration: none;
  color: #ffffff;
}
.flat-primary-butt {
  background: #1abc9c;
}
.flat-primary-butt:hover {
  background: #2fe2bf;
}
.flat-info-butt {
  background: #3498db;
}
.flat-info-butt:hover {
  background: #5dade2;
}
.flat-danger-butt {
  background: #e74c3c;
}
.flat-danger-butt:hover {
  background: #ec7063;
}
.hide{
display:none;
}
.show{
display:block;
}
.articleholder{
  border: 1px solid #eee;
  padding:10px;
  margin:10px;
  /*clear:both;*/
}

#previousArticle{
  float:left;
}
#nextArticle{
  float:left;
}
.articleheading{
  text-align:  center;
}